---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About Us">
	<section id="about">
		<article id="about" class="mx-auto px-[15px] max-w-[585px]">
			<hr class="my-[5px]" />

			<h2>About Us</h2>
			
			<hr class="my-[5px]" />

            <p>"About Us" currently not available.</p>
			
			<hr class="my-[5px]" />

            <h2>About the Server</h2>

			<hr class="my-[5px]" />

            <p>Ever joined a Minecraft server network- but it's nothing like advertised? Ever tried to join survival- but there's a queue? Just try the Floor Mann Network instead! You even have the chance of playing Minecraft survival with the owner!</p>

			<hr class="my-[5px]" />
		</article>
	</section>
</Layout>
