---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Say goodbye to the disadvantages of large Minecraft servers!">
	<section id="home">
		<article id="introduction" class="mx-auto px-[15px] max-w-[585px]">
			<hr class="my-[5px]" />

			<h2>Welcome!</h2>
			
			<hr class="my-[5px]" />

			<p>Hello, and welcome to the Floor Mann Network website. You can find an "About Us" page <a href="/about">here</a>, which also contains the server's description. Take a look around the website, which is meant as a landing page to receive information on the Minecraft Server.</p>
			
			<hr class="my-[5px]" />

			<h2>Connection Information</h2>
			
			<hr class="my-[5px]" />

			<p>For the server name, enter <span class="copytext">Floor Mann Network</span> and for the server IP, enter <span class="copytext">mc.flappygrant.com</span>. The port, if you need to specify (it should be correct by default), you can add by entering <span class="copytext">mc.flappygrant.com:25565</span> in the IP field.</p>
			
			<hr class="my-[5px]" />
		</article>
	</section>
</Layout>
